{% extends 'NugatoNuCmsBundle:Admin:base.html.twig' %}

{% form_theme form '@NugatoNuCms/Admin/Form/theme.html.twig' %}

{% block content %}

    <div class="uk-position-center">
        <h1 class="uk-heading-divider">{{ 'nucms.ui.login.header'|trans }}</h1>

        {% if error %}

            <div class="t-error_msg uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ error.message }}</p>
            </div>

        {% endif %}

        {{ form_start(form, {'action': path('nucms_admin_login_check'), 'attr': {'novalidate': 'novalidate', 'class': 'uk-form-stacked'}}) }}

        {{ form_row(form._username, {'value': last_username|default(''), 'attr': {'class': 'uk-form-width-large'}}) }}
        {{ form_row(form._password, {'attr': {'class': 'uk-form-width-large'}}) }}

        <input type="hidden" name="_csrf_admin_security_token" value="{{ csrf_token('admin_authenticate') }}">

        <button class="t-login_button uk-button uk-button-primary">{{ 'nucms.ui.login.login'|trans }}</button>

        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}