{% extends 'NugatoNuCmsBundle:Admin:base.html.twig' %}

{% import 'NugatoNuCmsBundle:Admin/Macro:sorting.html.twig' as sorting %}

{% set definition = resources.definition %} {# Grid data (limits, fields, filters) #}
{% set data = resources.data %}  {# Grid data from passed entity #}
{% set metadata = metadata %} {# Metadata about grid (name, applicationName, controllers, factory) #}
{% set vars = configuration.vars %} {# Additional variables passed from yml #}
{% set grid = resources %} {# grid alias #}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block content %}

    <h1>{{ header|trans }}</h1>

    {% include('NugatoNuCmsBundle:Admin/Alerts:_flashes.html.twig') %}

    {# Actions - main #}
    <div>
        {% if definition.actionGroups.main is defined %}
            {% for action in definition.getEnabledActions('main') %}
                {{ sylius_grid_render_action(resources, action, null) }}
            {% endfor %}
        {% endif %}
    </div>

    {% if data|length > 0 %}
        <table class="uk-table uk-table-striped">
            <thead>
            <tr>
                {# Headers #}
                {% for field in definition.fields %}
                    {% if field.enabled %}
                        {% if field.isSortable %}
                            {{ sorting.tableHeader(grid, field, app.request.attributes) }}
                        {% else %}
                            <th class="table-column-{{ field.name }}">{{ field.label|trans }}</th>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    {# Data #}
                    {% for field in definition.enabledFields %}
                        <td>{{ sylius_grid_render_field(grid, field, row) }}</td>
                    {% endfor %}

                    {# Actions - item #}
                    {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
                        <td class="uk-width-medium uk-text-right">
                            <div class="uk-button-group">
                                {% for action in definition.getEnabledActions('item') %}
                                    {{ sylius_grid_render_action(grid, action, row) }}
                                {% endfor %}
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {# @todo info about no records #}
    {% endif %}

{% endblock %}