{% if posts %}
    <h3>{{ 'nucms.ui.latest_posts'|trans }}</h3>
    {% for post in posts %}
        {% set link = path('nucms_web_blog_post_show', {'slug': post.slug}) %}
        <div class="card mb-3" style="width: 18rem;">
            <a href="{{ link }}">
                {% if post.image %}
                    <img class="card-img-top" src="{{ post.image.path|imagine_filter('md') }}"
                         alt="{{ post.image.title }}">
                {% else %}
                    <img class="card-img-top" src="https://via.placeholder.com/246x100">
                {% endif %}
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.shortDescription|raw }}</p>
                <a href="{{ link }}" class="btn btn-primary">{{ 'nucms.ui.read_more'|trans }}</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
