{% if taxons %}
    <h3>{{ 'nucms.ui.taxons'|trans }}</h3>
    {% for taxon in taxons %}
        {% set link = path('nucms_web_blog_posts_by_taxon', {'slug': taxon.slug}) %}
        <div class="card mb-3" style="width: 18rem;">
            <a href="{{ link }}">
                {% if taxon.image %}nucms_web_blog_taxons
                    <img class="card-img-top" src="{{ taxon.image.path|imagine_filter('md') }}"
                         alt="{{ taxon.image.title }}">
                {% else %}
                    <img class="card-img-top" src="https://via.placeholder.com/246x100">
                {% endif %}
            </a>
            {% if taxon.image %}
                <a href="{{ link }}">
                    <img class="card-img-top" src="{{ taxon.image.path|imagine_filter('md') }}"
                         alt="{{ taxon.image.title }}">
                </a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ taxon.name }}</h5>
                <p class="card-text">{{ taxon.description }}</p>
                <a href="{{ link }}" class="btn btn-primary">{{ 'nucms.ui.read_more'|trans }}</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
